.op{  // 一定要将ion-content设置为背景透明，否则看不到摄像头画面
  --background: none transparent !important;
  background: none transparent !important;
  --color: white;
  --max-height:10rem;
}


.search_bar{
  height: 2.5rem;
  color: rgba(83, 105, 120, 1);
  background-color: rgba(245, 245, 245, 1);
  border-radius: 0.66rem;
  font-size: 0.88rem;
  line-height: 150%;
  text-align: left;
}

.icon1{
  width: 2.1875rem;
  height: 2.1875rem;
}

.t1{
  color: rgba(83, 105, 120, 1);
  font-size: 0.875rem;
  line-height: 150%;
  text-align: left;
  font-weight: bold;
}

.t2{
  color: rgba(83, 105, 120, 1);
  font-size: 0.75rem;
  line-height: 150%;
  text-align: left;
}