.item_t1{
  color: rgba(56, 56, 56, 1);
  font-size: 0.78rem;
  line-height: 150%;
  text-align: left;
}

.item_t2{
  color: rgba(0, 0, 0, 1);
  font-size: 0.78rem;
  line-height: 150%;
  text-align: right;
  font-weight: bold;
}