

.image_294X1{
  width: 100%;
  height: 21.23rem;
  background-image: url('../../assets/pic_01.png');
  background-size: 100% 100%;
  background-repeat:no-repeat;
}

.container1{
    width: 100%;
    height: 21.62rem;
    top: 6.3275rem;
}



.horizontal_auto{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto auto;
}

.container2{
  width: 17.5rem;
  height: 18.75rem;
  top: 9.1725rem;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  //background-color: red;
  border-radius: 1.03rem;
  font-size: 0.88rem;
  line-height: 150%;
  box-shadow: 0rem 0.37rem 0.95rem 0rem rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container3{
  width: 100%;
  //width: 5.62rem;
  //height: 5.62rem;
  top: 6.3275rem;
  //border-radius: 2.86rem;
  //box-shadow: -0.07rem 0.15rem 0.44rem 0rem rgba(0,0,0,0.5);
}

.container3 img{
  width: 5.62rem;
  height: 6.36rem;
  top: -0.37rem;
}

.input_container1{
  width: 13.75rem;
  height: 1.88rem;
  top: 14.999375rem;
}
.wrapper_1213X1{
  width: 13.75rem;
  height: 1.94rem;
  left: 76.75rem;
  top: 328.99rem;
}
.input_container2{
  width: 13.75rem;
  height: 1.94rem;
  top: 18.5625rem;
}

.bt1{
  width: 13.75rem;
  height: 2.14rem;
  top: 22.78rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(73, 160, 222, 1);
  border-radius: 1.03rem;
  font-size: 0.98rem;
  line-height: 150%;
  text-align: center;
  font-weight: bold;
}

.icon4{
  width: 5.6rem;
  height: 5.6rem;
  //border-radius: 5.9rem;
  display: block;
}