.t1{
  color: rgba(51, 51, 51, 1);
  font-size: 0.88rem;
  text-align: left;
}

.t3{
  text-align: right;
  line-height: 150%;
}

.t5{
  color: rgba(0, 0, 0, 1);
  font-size: 0.8125rem;
  font-weight: bold;
  --placeholder-color: rgba(51, 51, 51, 1);;
  text-align: right;
  line-height: 150%;
}

.t4{
  color: rgba(0, 0, 0, 1);
  font-size: 0.8125rem;
  font-weight: bold;
}

.t2{
  color: rgba(51, 51, 51, 1);
  font-size: 0.88rem;
}