.t1{
  color: rgba(56, 56, 56, 1);
  font-size: 13px;
  line-height: 150%;
  text-align: left;
}

.t2{
  color: rgba(128, 128, 128, 1);
  font-size: 0.88rem;
  line-height: 150%;
  text-align: left;
}

.t3{
  color: rgba(153, 153, 153, 1);
  font-size: 0.88rem;
  line-height: 150%;
  text-align: right;
}
