.div1_t1{
  color: rgba(83, 105, 120, 1);
  font-size: 0.9rem;
  line-height: 150%;
  text-align: left;
  font-weight: bold;
}

.div1_t2{
  color: rgba(83, 105, 120, 1);
  font-size: 0.75rem;
  line-height: 150%;
  text-align: left;
}

.div_t3{
  color: rgba(73, 160, 222, 1);
  font-size: 0.75rem;
  line-height: 150%;
  text-align: right;
}

.div_t4{
  color: rgba(212, 48, 48, 1);
  font-size: 0.75rem;
  line-height: 150%;
  text-align: right;
}

.div2_t1{
  color: rgba(167, 174, 185, 1);
  font-size: 0.88rem;
  line-height: 150%;
  text-align: left;
}

.div2_t2{
  color: rgba(83, 105, 120, 1);
  font-size: 0.87rem;
  line-height: 150%;
  text-align: left;
  font-weight: bold;
}

.div2_col{
  padding: 0.5rem 0 0.5rem 1rem;
}

.div3{
  width: 100%;
  color: rgba(80, 80, 80, 1);
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: rgba(243, 243, 243, 1);
  font-size: 0.88rem;
  line-height: 150%;
  text-align: left;
}

.div3_t1{
  width: 4.06rem;
  height: 1.37rem;
  //padding: 0.5rem 0rem 0.5rem 1rem;
  color: rgba(93, 114, 128, 1);
  font-size: 0.88rem;
  line-height: 150%;
  text-align: left;
  font-weight: bold;
}

.div4_t1{
  color: rgba(166, 166, 166, 1);
  font-size: 0.88rem;
  line-height: 150%;
  text-align: left;
  font-weight: bold;
}

.div4_t2{
  color: rgba(73, 160, 222, 1);
  font-size: 0.88rem;
  line-height: 150%;
  text-align: left;
}

.div5_t2{
  color: rgba(93, 114, 128, 1);
  font-size: 0.76rem;
  line-height: 150%;
  text-align: left;
}

.div5_t3{
  color: rgba(83, 105, 120, 1);
  font-size: 0.88rem;
  line-height: 150%;
  text-align: left;
}